body {
    color: white;
    background-color: black;
}

h1 {
    color: black;
    background-color: white;
    padding: 30px;
}

.button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 1em;
    font-size: 1.2em;
}

.button:hover, .button:active {
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
}


.dice1, .dice2, .dice3, .dice4, .dice5, .dice6 {
    display: none;
}

.show {
    display: block;
}